<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="vn.edu.tdc.lamdep">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.CAMERA" /> <!-- Xin quyền kết nối internet -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- Xin quyền đọc file -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- Xin quyền ghi file -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".Activity.listBaiViet"></activity>
        <activity android:name=".Activity.DangKy" />
        <activity android:name=".Activity.DangNhap" />
        <activity android:name=".Activity.ProductLike" />
        <activity android:name=".Activity.DoiMatKhau" />
        <activity
            android:name=".Activity.QuanLyDonHang"
            android:label="Quản lý đơn hàng"
            android:screenOrientation="portrait" />
        <activity android:name=".Activity.UpLoadImages" />
        <activity
            android:name=".Activity.CapNhatSanPham"
            android:label="Cập nhật sản phẩm"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.DanhSachSanPham"
            android:label=""
            android:screenOrientation="portrait" />
        <activity android:name=".Activity.deleteproduct" />
        <activity
            android:name=".Activity.QuanLySanPham"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.AddProduct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.ProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.ThoiTrangNu"
            android:label="Thời trang nữ"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.ThoiTrangNam"
            android:label="Thời trang nam"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.TimKiemSanPham"
            android:label="Tìm kiếm"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activity.DongHoTrangSuc"
            android:label="Đồng hồ - Trang Sức"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.ChamSoc" />
        <activity android:name=".Activity.DuongToc" />
        <activity android:name=".Activity.KieuToc" />
        <activity
            android:name=".Activity.sanPhamActivity"
            android:label="Danh mục sản phẩm"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.sanPhamTapLuyen"
            android:label="Sản phẩm tập luyện"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activity.ThoiTrangThuongHieuActivity"
            android:label="Thời trang thương hiệu"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activity.sucKhoeLamDepActivity"
            android:label="Sức khỏe và làm đẹp"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activity.chiTietSanPham"
            android:label="Chi tiết sản phẩm"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.showImagesProduct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.cartActivity"
            android:label="Giỏ hàng"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activity.ThongTinKhachHang"
            android:label="Thông tin khách hàng"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activity.ThongBao"
            android:label="Thông báo"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activity.DanhSachBaiViet"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Activity.BaiViet"
            android:label="Bài viết"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.ThemBaiViet"
            android:label="Bài viết"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.listTapLuyen"
            android:label="Bài viết"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.BatDau"
            android:label="Bài viết"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>